@charset "UTF-8";
/* CSS Document */
h1 {
	font-family: nunito;
	color: #FFFFFF;
	text-align: center;
	font-size: 100px;
	font-style: normal;
	font-weight: 300;
	margin: auto;
}

html{
	background: url(images/bg.jpg) no-repeat center center fixed; 
 	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
body{
	display: flex;
	height: 100%;
}