@charset "UTF-8";
/* CSS Document */
h1 {
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	color: #FFFFFF
}
body {
	background-color: #F7C70C
}
